@import url(https://fonts.googleapis.com/css?family=League+Spartan:100,200,300,regular,500,600,700,800,900);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

a {
  text-decoration: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}
.watch {
  min-height: 934px;
  background: #f8f8f8;
}
.container {
  max-width: 1137px;
  margin-inline: auto;
  padding: 0 20px;
}

.watch__container {
  display: flex;
  align-items: center;
  gap: 36px;
}
.watch__content {
  flex-shrink: 0;
}

.watch__mor {
  color: #161515;
  font-size: 24px;
  font-weight: 300;
  line-height: 186%;
  margin-bottom: 48px;
  display: inline-block;
}
.watch__title {
  color: #272727;
  font-size: 250px;
  font-weight: 300;
  margin-bottom: 28px;
}

.watch__text {
  color: #161515;
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
  max-width: 575px;
  margin-bottom: 61px;
}

.watch__button {
  display: inline-flex;
}

.watch__btn {
  display: inline-block;
  background: #161515;
  padding: 26px;
  min-width: 278px;
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}
.watch__btn:hover {
  color: #5a01a7;
}
.watch__btn:focus {
  outline: transparent solid;
  box-shadow: 0 0 0 4px #5a01a7;
  z-index: 2;
}

.watch__price {
  background: #fff;
  box-shadow: 0px 0px 28px 0px rgba(214, 214, 214, 0.25);
  padding: 26px;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #272727;
}
.watch__image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.models {
  padding: 0 20px;
  text-align: center;
  color: #000;
}
.models__popular {
  font-size: 24px;
  font-weight: 300;
  line-height: 186%;
}
.models__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 112.5%;
  margin-bottom: 84px;
}

.card {
  max-width: 532px;
  margin-inline: auto;
  margin-bottom: 85px;
}
.card__image {
  background: #f8f8f8;
  padding: 65px 105px;
  margin-bottom: 67px;
  max-width: 417px;
  margin-inline: auto;
}
.son22-img {
  max-width: 496px;
}

.sw12-img {
  padding: 110px 65px;
}

.card__name {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 17px;
}
.card__descr {
  color: #161515;
  font-size: 32px;
  font-weight: 300;
  line-height: 155%;
}

.product {
  margin-bottom: 142px;
}

.product__descr {
  color: #161515;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 186%;
  text-transform: capitalize;
  margin-bottom: 58px;
  display: inline-block;
  position: relative;
}
.product__descr::before {
  content: "";
  position: absolute;
  display: block;
  width: 178px;
  height: 1px;
  background: #707070;
  bottom: 0;
  left: calc(50% - 88px);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.product__descr:hover::before {
  transform: scaleX(1);
}
.product__text {
  max-width: 520px;
  margin-inline: auto;
  color: #161515;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 170%;
}
.product__text a {
  color: #bb8b5d;
  font-size: 24px;
  font-weight: 500;
  line-height: 170%;
  text-decoration-line: underline;
}
.product__text a:hover {
  color: #fdda00;
}

@media screen and (max-width: 992px) {
  .watch {
    padding: 50px 0;
    min-height: auto;
  }

  .watch__container {
    flex-direction: column-reverse;
  }

  .watch__title {
    font-size: 110px;
  }
}
@media screen and (max-width: 592px) {
  .watch__button {
    flex-direction: column-reverse;
    display: flex;
  }

  .watch__image {
    height: 300px;
  }

  .watch__image img {
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 392px) {
  .watch__text,
  .card__descr {
    font-size: 24px;
  }

  .card__image {
    padding: 65px;
  }
}
